
$clr_secondary1: #DA6E00;
$clr_secondary2: #BA481B;
$clr_secondary3: #BF3922;
$clr_secondary4: #F67828;
$clr_secondary5: #E25303;
$clr_secondary6: #FF4D06;
$clr_secondary7: #FFB200;
$clr_secondary8: #ED6B21;
$clr_secondary9: #DE5307;
$clr_secondary10: #D05D28;
$clr_secondary11: #E26E0E;
$clr_secondary12: #D5654D;

$clr_primary1: #816183;
$clr_primary2: #8D3C4B;
$clr_primary3: #C4618C;
$clr_primary4: #651E38;
$clr_primary5: #76689A;
$clr_primary6: #903373;
$clr_primary7: #47243C;
$clr_primary8: #844C82;
$clr_primary9: #9D8692;
$clr_primary10: #BC4077;
$clr_primary11: #6E6387;
$clr_primary12: #6B6B7F;

$clr_wave: #ffb30b;


$clr-dark: #000000;
$clr-dark-0: #3c3c3c;
$clr-dark-1: #474747;
$clr-light: #ffffff;
$clr-light-1: #F7F7F7;