// Import all of Bootstrap's CSS
@import "/node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');



body{
    font-family: 'Quicksand', sans-serif;

    img{
        max-width: 100%;
    }
    
    .card{
        .image{
            width: 150px;
            height: 150px;
    
            img{
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
    }

}
